<div class="container">
  <form action="" class="form-search js-form-search">
    <div class="filter-wraper">
      <label for="search">Search</label>
      <input type="text" name="search" class="filter-input" />
    </div>

    <div class="filter-wraper">
      <label for="time"> Time</label>
      <select
        type="text"
        name="time"
        class="filter-select select-time"
      ></select>
    </div>

    <div class="filter-wraper">
      <label for="area"> Area</label>
      <select
        type="text"
        name="area"
        class="filter-select select-area"
      ></select>
    </div>

    <div class="filter-wraper">
      <label for="ingredients">Ingredients</label>
      <select
        type="text"
        name="ingredients"
        class="filter-select select-ingredients"
      ></select>
    </div>
  </form>
</div>
