/**
|============================
| all categories
|============================
*/
.categories-btn-all {
    padding: 14px 29px;
    margin-bottom: 24px;

    color: var(--black-second-color);
    background-color: var(--whiit-first-color);
    border-radius: 15px;
    border: 1px solid rgba(5, 5, 5, 0.20);
}

@media only screen and (min-width: 768px) {
    .categories-btn-all {
        font-size: 18px;
    }
}

.categories-btn-all:hover,
.categories-btn-all:focus {
    color: var(--white-second-color);
    background-color: var(--breen-color);
}

.categories-tumb {
    width: 326px;
    height: 198px;
    overflow-y: scroll;
}

@media only screen and (min-width: 768px) {
    .categories-tumb {
        width: 176px;
        height: 416px;
    }
}

@media only screen and (min-width: 1280px) {
    .categories-tumb {
        width: 235px;
    }
}

.categories-list-js:not(:last-child) {
    margin-bottom: 18px;
}

@media only screen and (min-width: 768px) {
    .categories-list-js:not(:last-child) {
        margin-bottom: 24px;
    }
}

.categories-btn-js {
    font-weight: 500;
    line-height: 129%;

    color: var(--black-second-color);
    background-color: var(--whiit-first-color);
}

@media only screen and (min-width: 768px) {
    .categories-btn-js {
        font-size: 16px;
        line-height: 125%;
    }
}

.is-active {
    color: var(--breen-color);
}